body {
  background-color: gainsboro;
}

.complete {
  background-color: lightgrey;
}

.lowPriority {
  background-color: lightgreen;
}

.medPriority {
  background-color: lightgoldenrodyellow;
}

.highPriority {
  background-color: lightcoral;
}
