/* font import */
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Work+Sans:wght@400;700&display=swap'); url('https://fonts.googleapis.com/css2?family=Concert+One&family=Work+Sans&display=swap');

body {
  background-color: #f5f5f5;
  font-family: 'Work Sans', sans-serif;
}

h1,
h2 {
  text-align: center;
  font-family: 'Concert One', cursive;
}

.complete {
  background-color: #d3d3d3;
  color: #747474;
  text-decoration: line-through;
}

.colHeads {
  font-size: 20px;
  font-weight: 500;
}

.listRow {
  padding: 7px;
}

.endCols {
  text-align: center;
}

.lowPriority {
  background-color: #9ace91;
}

.medPriority {
  background-color: #f8d878;
}

.highPriority {
  background-color: #fc7861;
}

#addTaskContainer {
  background-color: #bebebe;
  border: 2px solid black;
  padding: 10px;
}

#taskContainer {
  margin-top: 15px;
}

#taskIn {
  width: 100%;
}

#sort {
  text-align: right;
}

#submitBtn {
  margin: 10px;
}
