body {
  background-color: #f5f5f5;
}

td,
th {
  padding: 3px;
}

.complete {
  background-color: #d3d3d3;
  color: #747474;
  text-decoration: line-through;
}

.lowPriority {
  background-color: #98fb98;
}

.medPriority {
  background-color: #eee8aa;
}

.highPriority {
  background-color: #f08080;
}

#addTaskContainer {
  background-color: #bebebe;
  border: 2px solid black;
  padding: 10px;
}

#taskContainer {
  margin-top: 15px;
}

#taskIn {
  width: 100%;
}

#sort {
  text-align: right;
}
